.pokeName {
  text-align: center;
  font-size: 2em;
}

.title {
  text-transform: capitalize;
}

.sprite {
  position: relative;
  display: block;
  margin: auto;
  background-color: #f9f9f9;
  width: 100%;
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.favorite-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

ion-label {
  text-transform: capitalize;
}