<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <p *ngIf="pokemonList.length == 0" class="emptyList">Nenhum Pokémon adicionado aos favoritos.</p>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let pokemon of pokemonList">
        <app-pokemon-item [name]="pokemon.name" [sprite]="pokemon.sprite" [id]="pokemon.id" [fromFavorite]="true" (removeFavorite)="removeFromFavorites($event, pokemon.id)"></app-pokemon-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
